


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CSV_reader</title>
    <link href="~/css/output.css" rel="stylesheet">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/CSV_reader.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@latest/dist/tailwind.min.css" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" integrity="sha512-..." crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>
<body>
 
    <div>
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <div class="container2">
        
        <footer class="text-center text-lg-start text-black mt-4 bg-gray-300">
            
            <div class="container p-4 pb-0">
                <!-- Section: Links -->
                <section class="">
                   
                    <div class="row">
                       
                        <div class="col-lg-8 col-md-6 mb-4 mb-md-0">                            

                            <p class="text-left">
                                Pretium Agency Limited is an Appointed Representative of Pro MGA Solutions Ltd who is authorised and regulated by the Financial Conduct Authority under reference 770419. Pretium Agency Limited is registered in England (No: 14676979), Registered Office: Charlotte House Stanier Way, Chaddesden, Derby, England, DE21 6BF
                                Copyright Pretium Agency 2023 | All Rights Reserved
                            </p>
                        </div>
                        
                        <div class="col-lg-2 col-md-6 mb-4 mb-md-0">                            

                            <ul class="list-disc mb-0">
                                <li class="text-left">
                                    <a href="https://tts360.co.uk/privacy.php" target="_blank">Privacy Policy</a>
                                </li>
                                <li class="text-left">
                                    <a href="https://tts360.co.uk/terms.php" target="_blank">Terms</a>
                                </li>
                                <li class="text-left">
                                    <a href="https://tts360.co.uk/cookies.php" target="_blank">Cookies</a>
                                </li>
                            </ul>
                        </div>
                       

                        <div class="col-lg-2 col-md-6 mb-4 mb-md-0">
                            <section class="mb-1 text-center">

                                <!-- Linkedin -->
                                <a class="btn btn-outline-dark btn-floating m-1"
                                   role="button"
                                   target="_blank"
                                   href="https://www.linkedin.com/company/tts360/posts/?feedView=all">
                                    <i class="fab fa-linkedin-in"></i>
                                </a>

                                <!-- pretium website -->
                                <a class="btn btn-outline-dark btn-floating m-1"
                                   href="https://pretiumagency.co.uk/"
                                   target="_blank"
                                   role="button">
                                    <i >P</i>
                                </a>

                                <!-- Twitter -->
                                <a class="btn btn-outline-dark btn-floating m-1"
                                   href="https://x.com/tts360?s=21"
                                   target="_blank"
                                   role="button">
                                    <i class="fab fa-twitter"></i>
                                </a>

                            </section>
                        </div>
                       
                    </div>
                    
                </section>
               
            </div>
            
            <!-- Copyright -->
            <div class="text-center p-3 bg-gray-400">
                © 2025 Copyright:
                <a class="text-black" href="https://tts360.co.uk/">TTS360</a>
            </div>
           
        </footer>
        
    </div>
    

    

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
