<!DOCTYPE html>
<html>
<head>
    <title>Excel Reader</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@latest/dist/tailwind.min.css" rel="stylesheet">

</head>
<body>

    <h2>Generate PDF</h2>
    <a href="/PDF/GeneratePDF" class="btn btn-primary">Download PDF Report</a>
</body>
</html>